{% extends "base.html" %}

{% block contant %}
{% include "navbar.html" %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT US.....</h1>
        </div>
    </div>
</header>

<div id="about">
    <div>
      <h3 class="w3-center w3-padding-64" align="center"><span>ABOUT THE CAFE</span></h3>
      <p>Our Cafe strives to provide the best experience to our guests. Our coffees are sourced from thousands of small coffee planters, who made us who we are today and we're glad to be a part of their lives. We opened our first cafe in 2023 at Brigade Road in Bangalore – the youth and the young at heart immediately took to the cafe, and it continues to be one of the most happening places in the city. Coffee Day to the youth is a “hangout” spot where they meet people, make conversations, and have a whole lot of fun over steaming cups of great coffee.It's been an exciting journey since then to becoming the largest organised retail cafe chain in the country.</p>
      <p>In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.</p>
      <div class="w3-panel w3-leftbar w3-light-grey">
        <p><i>"Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.</i></p>
      </div>
     
      <p ><strong>Timings:</strong> Open 24/7 </p>
      <p><strong>Address:</strong> 7th street, Davanagere</p>
    </div>
  </div>
  
</section>

{% endblock  %}