{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="">
            <img src="{% static 'img.jpg' %}" alt="Coffee Icon" width="40" height="40" class="d-inline-block align-text-top me-2">Coffee Day</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                {% if user.is_customer %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'table_list' %}">Book Table</a></li>
                {% endif %}
                {% if user.is_admin %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'adminindex' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'tables' %}">Tables</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'orders' %}">Bills</a></li>
                {% endif %}
                {% if user.is_employee %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'employeeindex' %}">Home</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            </ul>

            {% if user.is_customer %}
            <form action="{% url 'search_products' %}" method="get" class="navbar-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search products..." name="q">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
            </form>
            {% endif %}

            <ul class="navbar-nav mb-5 mb-lg-0 me-auto ms-lg-5">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}

                {% if user.is_customer %}
                    <li class="nav-item"><a class="nav-link" style="color:blue;" href="{% url 'manage_profile' user.id %}">{{ user.username }}</a></li>
                {% endif %}
                {% if user.is_admin %}
                    <li class="nav-item"><a class="nav-link" style="color:blue;" href="{% url 'adminindex' %}">{{ user.username }}</a></li>
                {% endif %}
                {% if user.is_employee %}
                    <li class="nav-item"><a class="nav-link" style="color:blue;" href="{% url 'employeeindex' %}">{{ user.username }}</a></li>
                {% endif %}
            </ul>

            {% if user.is_authenticated and user.is_customer %}
            <div class="navbar-nav">
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'view_cart' %}">View Cart</a></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
